<div class="stage" dir="ltr">
  <div id="SLDR-ONE" class="sldr">
    <ul class="wrp animate" style="width: 6600px; transform: translate3d(-2475px, 0px, 0px);">
      <li class="elmnt-one" style="width: 825px;">
        <div class="skew">
          <div class="wrap"><img
              src="http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/slider/slider1image"
              width="1000" height="563"></div>
        </div>
      </li>
      <li class="elmnt-two" style="width: 825px;">
        <div class="skew">
          <div class="wrap"><img
              src="http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/slider/slider2image"
              width="1000" height="563"></div>
        </div>
      </li>
      <li class="elmnt-three" style="width: 825px;">
        <div class="skew">
          <div class="wrap"><img
              src="http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/slider/slider3image"
              width="1000" height="563"></div>
        </div>
      </li>
      <li class="elmnt-four" style="width: 825px;">
        <div class="skew">
          <div class="wrap"><img
              src="http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/slider/slider4image"
              width="1000" height="563"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="captions">
    <div class="">
      <p>Campus Is An Online Platform</p>
      <h1>Designed to <span>Make Learning</span></h1>
    </div>
    <div class="">
      <p>Bring Tutoring Right to Your Home.</p>
      <h1>Education is the Key to <span>Your Success</span></h1>
    </div>
    <div class="">
      <p>Take the world best courses, online.</p>
      <h1>Your Bright Future is <span>Our Mission</span></h1>
    </div>
    <div class="focalPoint">
      <p>Learning &amp; Fun For Everyone.</p>
      <h1>A community of Best &amp; <span>Inspired Learners</span></h1>
    </div>
  </div>
  <button class="sldr-prv sldr-nav prev"></button>
  <button class="sldr-nxt sldr-nav next"></button>
</div>