
<div class=" col-lg-12 col-md-12 col-sm-12 col-12" >
  <div class="card card-size">
    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 slider" src="../../assets/images/image.jpg" alt="First slide">
          <!-- <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Heading Title Carousel</h3>
                                <p>Mauris fermentum elementum ligula in efficitur. Aliquam id congue lorem. Proin consectetur feugiat enim ut luctus. Aliquam pellentesque ut tellus ultricies bibendum.</p>
                            </div> -->
        </div>
         <div class="carousel-item">
                            <img class="d-block w-100 slider" src="../../assets/images/image2.jpg" alt="Second slide">
                           <!-- <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Heading Title Carousel</h3>
                                <p>Mauris fermentum elementum ligula in efficitur. Aliquam id congue lorem. Proin consectetur feugiat enim ut luctus. Aliquam pellentesque ut tellus ultricies bibendum.</p>
                            </div>  -->
                        </div>

        <div class="carousel-item">
          <img class="d-block w-100 slider" src="../../assets/images/image4.jpg" alt="Third slide">
          <!-- <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Heading Title Carousel</h3>
                                <p>Mauris fermentum elementum ligula in efficitur. Aliquam id congue lorem. Proin consectetur feugiat enim ut luctus. Aliquam pellentesque ut tellus ultricies bibendum.</p>
                            </div> -->
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 slider" src="../../assets/images/image3.jpg" alt="Third slide">
          <!-- <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Heading Title Carousel</h3>
                                <p>Mauris fermentum elementum ligula in efficitur. Aliquam id congue lorem. Proin consectetur feugiat enim ut luctus. Aliquam pellentesque ut tellus ultricies bibendum.</p>
                            </div> -->
        </div>

        <div class="carousel-item">
          <img class="d-block w-100 slider" src="../../assets/images/image5.jpg" alt="Third slide">
          <!--  <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Heading Title Carousel</h3>
                                <p>Mauris fermentum elementum ligula in efficitur. Aliquam id congue lorem. Proin consectetur feugiat enim ut luctus. Aliquam pellentesque ut tellus ultricies bibendum.</p>
                            </div>-->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span> </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> </a>
      </div>
    </div>
  </div>




  <!-- <section>
      <div class="row">
            <app-login></app-login>
      </div>
        
  </section>
  <section>
        <div class="row">
        <app-register></app-register>
    </div>
  </section> -->

  <!-- <div class="captions">
      <div class="">
        <p>Campus Is An Online Platform</p>
        <h1>Designed to <span>Make Learning</span></h1>
      </div>
      <div class="">
        <p>Bring Tutoring Right to Your Home.</p>
        <h1>Education is the Key to <span>Your Success</span></h1>
      </div>
      <div class="">
        <p>Take the world best courses, online.</p>
        <h1>Your Bright Future is <span>Our Mission</span></h1>
      </div>
      <div class="focalPoint">
        <p>Learning &amp; Fun For Everyone.</p>
        <h1>A community of Best &amp; <span>Inspired Learners</span></h1>
      </div>
    </div> -->
