<footer id="footer" class="footer bg-info text-white" data-bg-color="#212331">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="widget dark">
            <img class="mt-5 mb-20" alt="" src="../../../assets/images/logo.jpeg">
           <i class="fas fa-map-marker-alt"> <p>18 L'aouina 2045 Tunis - Tunisie</p></i>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fas fa-phone-volume text-whitemr-5"><span>+(216) 12-345-678</span> </i> </li>
              <li class="m-0 pl-10 pr-10"> <i class="far fa-envelope text-white mr-5"><span>contact@webdev-center.com</span> </i> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fab fa-internet-explorer text-white mr-5"> <span>wwww.webdev-center.com</span> </i> </li>
            </ul>            
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Liens utiles</h4>
            <ul class="angle-double-right list-border ">
              <li ><a class="text-white" href="#">Home </a></li>
              <li><a class="text-white"href="#">About Us</a></li>
              <li><a class="text-white"href="#">Cantact</a></li>
              <li><a class="text-white"href="#">Terms and Conditions</a></li>
              <li><a class="text-white" href="#">FAQ</a></li>              
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-5">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Heures d'ouverture</h4>
            <div class="opening-hours">
              <ul class="list-border text-white">
                <li class="clearfix"> <span> Lundi - Mardi :  </span>
                  <div class="value pull-right"> 10.00 am - 5.00 pm </div>
                </li>
                <li class="clearfix"> <span> Mecredi :</span>
                  <div class="value pull-right"> 10.00 am - 1.00 pm </div>
                </li>
                <li class="clearfix"> <span> Jeudi - Vendredi : </span>
                  <div class="value pull-right"> 10.00 am - 5.00 pm </div>
                </li>
                <li class="clearfix"> <span> Samdi - Dimanche : </span>
                  <div class="value pull-right bg-theme-colored2 text-white closed"> Closed </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#2b2d3b">
          <div class="text-center">
            <p class="font-12 text-center">Copyright &copy;2019 WebDev Center. All Rights Reserved</p>
          </div>
    </div>
  </footer>