

<div class="login">
  <!-- ============================================================== -->
  <!-- login page  -->
  <!-- ============================================================== -->
  <div class="splash-container">
    <div class="card ">
      <div class="card-header text-center"><a href="#"><img class="logo-img" src="../../assets/images/logo.png"
            alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
      <div class="card-body">
        <form [formGroup]="loginForm" >
          <div class="form-group">
            <input class="form-control form-control-lg" formControlName="email" type="email" placeholder="Email"
              autocomplete="off">
          </div>
          <div class="form-group">
            <input class="form-control form-control-lg" formControlName="password" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg btn-block"(click)="login(loginForm.value)">Login</button>
            <button type="button" class="btn btn-secondary" (click)="moveToRegister()">Register</button>
          </div>
          
        </form>
      </div>
      
    </div>
  </div>


</div>

