<div >
    <div class="container py-5">
      <div class="col-md-12">

        <div class="card">
          <h5 class="card-header">Listes de test</h5>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered first">
                <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Decreption</th>
                    <th>Type</th>
                    <th>Niveau</th>
                    <th>Duree</th>
                    <th>Nbr des questions</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody *ngFor="let test of quiz">
                  <tr>
                    <td>{{test.titre}}</td>
                    <td>{{test.descreption}}</td>
                    <td>{{test.type}}</td>
                    <td>{{test.niveau}}</td>
                    <td>{{test.dure}}</td>
                    <td>{{test.questions.length}}</td>
                    <td>
                      <a href="#" (click)="updateQuiz(test)" data-toggle="modal" data-target="#test"
                        class="btn btn-rounded btn-info"> <i class="far fa-edit"></i></a>
                      <div class="modal fade" id="test" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Modifier test
                              </h5>

                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form class="form-horizontal" role="form" [formGroup]="quizUpdateForm">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-4 control-label" for="textinput">Titre</label>
                                  <div class="col-sm-10">
                                    <input type="text" formControlName="titre" placeholder="Titre test"
                                      class="form-control">
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-4 control-label" for="textinput">Descreption</label>
                                  <div class="col-sm-10">
                                    <input type="text" formControlName="descreption" placeholder="descreption test"
                                      class="form-control">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label" for="exampleFormControlSelect1"> Type
                                  </label>
                                  <div class="col-sm-10">
                                    <select class="form-control" formControlName="type">
                                      <option value="HTML5">HTML5</option>
                                      <option value="Bootstrap">Bootstrap</option>
                                      <option value="JQuery">JQuery</option>
                                      <option value="Angular 7">Angular 7</option>
                                      <option value="Node JS">Node JS</option>
                                      <option value="J2EE">J2EE</option>
                                      <option value="Symfony">Symfony</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label" for="dure">Duree(Minutes)</label>
                                  <div class="col-sm-10">
                                    <input type="number" formControlName="dure" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-4 control-label" for="niveau">Niveau</label>
                                  <div class="col-sm-10">
                                    <select formControlName="niveau" class="form-control ">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                  </div>
                                  <div formArrayName="questions"
                                    *ngFor="let q of quizUpdateForm.controls['questions'].controls; let i=index">
                                    <div [formGroupName]="i">
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label" for="question">Question</label>
                                        <div class="col-sm-10">
                                          <input type="text" formControlName="question" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label" for="choix1">Option 1</label>
                                        <div class="col-sm-10">
                                          <input type="text" formControlName="choix1" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label" for="choix2">Option 2</label>
                                        <div class="col-sm-10">
                                          <input type="text" formControlName="choix2" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label" for="choix3">Option 3</label>
                                        <div class="col-sm-10">
                                          <input type="text" formControlName="choix3" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label" for="choix4">Option 4</label>
                                        <div class="col-sm-10">
                                          <input type="text" formControlName="choix4" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label" for="reponse">Reponse</label>
                                        <div class="col-sm-10">
                                          <input type="text" formControlName="reponse" class="form-control">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <button type="submit" (click)="deleteUpdateQuestion()"
                                        class="btn btn-rounded btn-danger">-

                                        Supprimer</button>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <button type="submit" (click)="addUpdateQuestion()"
                                      class="btn btn-rounded btn-info">+
                                      Question</button>
                                  </div>
                                </div>

                              </form>
                            </div>
                            <div class="modal-footer">
                              <div class="pull-right">
                                <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger "
                                  (click)="updateTest(quizUpdateForm.value)" data-dismiss="modal">Modifier</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a (click)="deleteTest(test)" class="btn btn-rounded btn-secondary"><i class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>