<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{user?.nom}} {{user?.prenom}}</h1>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-lg-12  col-sm-12 col-12">
      <div class="card">
        <div class="card-header pills-regular">
          <ul class="nav nav-pills card-header-pills" id="myTab2" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" id="card-pills-1" href="#card-pill-1" data-toggle="tab"  role="tab" aria-controls="card-2"
                aria-selected="false">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="card-pills-2"href="#card-pill-2" data-toggle="tab"  role="tab" aria-controls="card-2"
                aria-selected="false">Notes</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="card-pill-1" role="tabpanel" aria-labelledby="card-tab-1">
              <div class="card">
                <h5 class="card-header">Informations</h5>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>{{user?.nom}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Prenom</td>
                          <td>{{user?.prenom}}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{user?.email}}</td>
                        </tr>
                        <tr>
                          <td>Age</td>
                          <td>{{user?.age}}</td>
                        </tr>
                        <tr>
                          <td>Niveau</td>
                          <td>{{user?.niveau}}</td>
                        </tr>
                        <tr>
                          <td>Tel</td>
                          <td>{{user?.tel}}</td>
                        </tr>
                        <tr>
                          <td>Statu</td>
                          <td>{{user?.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="rox">
                      <div class="text-center">
                        <a class="btn btn-info" data-toggle="modal" data-target="#user"
                          (click)="update(User)">Modifier</a>
                        <div class="modal fade" id="user" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modifier User<Article></Article>
                                </h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form class="form" action="##" method="post" [formGroup]="EditUser">
                                  <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="first_name">
                                        <h4>Nom</h4>
                                      </label>
                                      <input type="text" class="form-control" formControlName="nom"
                                        placeholder="first name" title="enter your first name if any.">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="last_name">
                                        <h4>Prenom</h4>
                                      </label>
                                      <input type="text" class="form-control" formControlName="prenom"
                                        placeholder="last name" title="enter your last name if any.">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="phone">
                                        <h4>Num Tel</h4>
                                      </label>
                                      <input type="number" class="form-control" formControlName="tel"
                                        placeholder="enter phone" title="enter your phone number if any.">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-xs-6">
                                      <label for="mobile">
                                        <h4>Age</h4>
                                      </label>
                                      <input type="number" class="form-control" formControlName="age"
                                        placeholder="enter mobile number" title="enter your mobile number if any.">
                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <div class="col-xs-6">
                                      <label for="email">
                                        <h4>Email</h4>
                                      </label>
                                      <input type="email" class="form-control" formControlName="email"
                                        placeholder="you@email.com" title="enter your email.">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-xs-12">
                                      <br>
                                      <button class="btn btn-lg btn-success" (click)="UpdateUser(EditUser.value)"
                                        type="submit">
                                        Save</button>
                                      <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                        Reset</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--/tab-pane-->
                        <div class="tab-pane" id="messages">
                        </div>
                        <!--/tab-pane-->
                      </div>
                      <!--/tab-content-->
                    </div>
                  </div>
                </div>
              </div>
              <!--/col-9-->
            </div>
            <div class="tab-pane fade " id="card-pill-2" role="tabpanel" aria-labelledby="card-tab-1">
              <div class="row">
                <div class="card-body">
                  <h4>Test D'inscreption</h4>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">
                          Niveau
                        </th>
                        <th scope="col">
                          Note
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {{user?.niveau}}
                        </td>
                        <td>
                          {{user?.marks}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="card-body">
                  <h4>Notes des niveaux</h4>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">
                          Niveau
                        </th>
                        <th scope="col">
                          Note
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let Note of user?.notes">
                        <td>{{Note.niveau}}</td>
                        <td>{{Note.note}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>