<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
    <div class="section-block">
      <h5 class="section-title">Quiz</h5>
  
    </div>
    <div class="tab-outline">
      <ul class="nav nav-tabs" id="myTab2" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tab-outline-one" data-toggle="tab" href="#outline-one" role="tab" aria-controls="home"
            aria-selected="true">Ajouter Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab-outline-two" data-toggle="tab" href="#outline-two" role="tab" aria-controls="profile"
            aria-selected="false">Modifier Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab-outline-three" data-toggle="tab" href="#outline-three" role="tab" aria-controls="contact"
            aria-selected="false">Liste des Quiz</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent2">
        <div class="tab-pane fade show active" id="outline-one" role="tabpanel" aria-labelledby="tab-outline-one">
          <h5 class="card-header">Ajouter Quiz</h5>
          <div class="card-body">
            <form [formGroup]="quizForm">
              <div class="form-group">
                <label class="col-form-label" for="titre">Titre</label>
                <input type="text" formControlName="titre" class="form-control is-invalid">
                <div *ngIf="quizForm?.controls['titre']?.hasError('required')" style="color: red"> Required titre</div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="descreption">Descreption</label>
                <input type="text" formControlName="descreption" class="form-control is-invalid">
                <div *ngIf="quizForm?.controls['descreption']?.hasError('required')" style="color: red"> Required
                  descreption
                  1</div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="type">Type</label>
                <select formControlName="type" class="form-control is-invalid">
                  <option value="HTML5">HTML5</option>
                  <option value="Bootstrap">Bootstrap</option>
                  <option value="JQuery">JQuery</option>
                  <option value="Angular 7">Angular 7</option>
                  <option value="Node JS">Node JS</option>
                  <option value="J2EE">J2EE</option>
                  <option value="Symfony">Symfony</option>
                </select>
                <div *ngIf="quizForm?.controls['type']?.hasError('required')" style="color: red"> Required type</div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="dure">Duree(Minutes)</label>
                <input type="number" formControlName="dure" class="form-control is-invalid">
                <div *ngIf="quizForm?.controls['dure']?.hasError('required')" style="color: red"> Required dure</div>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="niveau">Niveau</label>
  
                <select formControlName="niveau" class="form-control is-invalid">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <div *ngIf="quizForm?.controls['niveau']?.hasError('required')" style="color: red"> Required niveau</div>
              </div>
              <div >
                <div  formArrayName="questions" *ngFor="let q of quizForm.controls['questions'].controls; let i=index">
                  <div [formGroupName]="i">
                    <div class="form-group">
                      <label for="question">Question : </label>
                      <input type="text" class="form-control is-invalid" formControlName="question" placeholder="Question"
                        value="First name" required>
                      <div *ngIf="q.controls.question.hasError('required')" style="color: red"> Required
                        question</div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="choix1">Option 1</label>
                      <input type="text" formControlName="choix1" class="form-control is-invalid">
                      <div *ngIf="q.controls['choix1']?.hasError('required')" style="color: red"> Required option
                        1</div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="choix2">Option 2</label>
                      <input type="text" formControlName="choix2" class="form-control is-invalid">
                      <div *ngIf="q.controls['choix2']?.hasError('required')" style="color: red"> Required option
                        2</div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="choix3">Option 3</label>
                      <input type="text" formControlName="choix3" class="form-control is-invalid">
                      <div *ngIf="q.controls['choix3']?.hasError('required')" style="color: red"> Required option
                        3</div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="choix4">Option 4</label>
                      <input type="text" formControlName="choix4" class="form-control is-invalid">
                      <div *ngIf="q.controls['choix4']?.hasError('required')" style="color: red"> Required option
                        4</div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="choix4">Reponse</label>
                      <input type="text" formControlName="reponse" class="form-control is-invalid">
                      <div *ngIf="q.controls['reponse']?.hasError('required')" style="color: red"> Required
                        reponse</div>
                        <div *ngIf="q.value.reponse !== q.value.choix1 && q.value.reponse !== q.value.choix2 && q.value.reponse !== q.value.choix3 && q.value.reponse !== q.value.choix4 " style="color: red">Not the same
                        </div>  
                    </div>
                  </div>
                  <div class="form-group">
                      <button type="submit"  (click)="deleteQuestion()" class="btn btn-rounded btn-danger">-
                        
                        Supprimer</button>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit"  (click)="addQuestion()" class="btn btn-rounded btn-info">+
                      Question</button>
                  </div>
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="!quizForm?.valid" (click)="ajouterQuiz()" class="btn btn-rounded btn-success"> + Ajouter</button>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane fade" id="outline-two" role="tabpanel" aria-labelledby="tab-outline-two">
  
        </div>
        <div class="tab-pane fade" id="outline-three" role="tabpanel" aria-labelledby="tab-outline-three">
          <div class="container py-5">
            <div class="col-md-12">
              <h1 *ngIf="!isLoading" style="width: 100%; text-align: center; margin: auto;">
                <h1>question</h1>
                <!--   <countdown [config]="{leftTime: 300}">$!m!:$!s!</countdown> -->
              </h1>
              <form>
                <div *ngFor="let question of quiz; let i = index">
                  <div class="question">
                    <h2>{{ question.question }}</h2>
                  </div>
                  <div name="reponse{{i}}" [(ngModel)]="reponse[i]">
                    <div>
                      <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="radio-inline" checked="" class="custom-control-input" value="1"><span
                          class="custom-control-label">{{
                          question.choix1}}</span>
                      </label>
                    </div>
  
                    <div>
                      <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="radio-inline" class="custom-control-input" value="2"><span class="custom-control-label">{{
                          question.choix2}}</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="radio-inline" class="custom-control-input" value="3"><span class="custom-control-label">{{
                          question.choix3}}</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="radio-inline" class="custom-control-input" value="4"><span class="custom-control-label">{{
                          question.choix4}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <button type="submit" (click)="onSubmit()" style="width: 100%; text-align: center; font-size: 30px;"
                  color="accent">SUBMIT</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  